<!DOCTYPE html>

{# Conditional <html> tag to have CSS target old IE versions #}
<!--[if lte IE 8]>      <html class="old-ie" ng-app="digitalWhiteboardApp"> <![endif]-->
<!--[if gt  IE 8]><!--> <html ng-app="digitalWhiteboardApp">         <!--<![endif]-->
<head>
    {% block styles %}
        {% stylesheets '@main_css' output="css/main.css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endstylesheets %}
    {% endblock %}
    <title>Digital Whiteboard</title>
    <meta id='viewport' name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {# Shim and Respond.js IE8 support of HTML5 elements and media queries #}
    {# WARNING: Respond.js doesn't work if you view the page via file:// #}
    <!--[if lt IE 9]>
    {% javascripts '@ie_js' output="js/ie.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
</head>
<body id="digital-whiteboard">

    <script type="text/javascript">
        {% set username = 'anonymous' %}
        {% set userID = '0' %}
        {% if app.user is not null %}
          {% set username = app.user.username %}
          {% set userID = app.user.getId() %}
        {% endif %}
        window.AppConfig = {{ {
               webSocketUrl: "ws://" ~ websocket_url,
               webSocketImageRepositoryPort: websocket_image_repository_port,
               webSocketPresentationPort: websocket_presentation_port,
               webSocketWebRTCPort: websocket_webrtc_port,
               iceServer: ice_server,
               resiprocatePassword: resiprocate_password,
               resiprocateUsername: resiprocate_username,
               authenticationRealm: resiprocate_authentication_realm,
               enableWebRTCLogs: enable_webrtc_logs
            }|json_encode|raw }};
        window.AppGlobals = {{ {
               username: username,
               userID: userID,
               isPresentator: false
        }|json_encode|raw }};
    </script>


    <div id="content-container">

        {% include 'HTWGDigitalWhiteboardPresentationBundle:Elements:navbar.html.twig' %}

        <div id="content-block">
            {% block body %}{% endblock %}
        </div>

        <div class="clear"></div>
    </div>

    {% include 'HTWGDigitalWhiteboardPresentationBundle:Elements:footer.html.twig' %}

    {% block app_globals %}{% endblock %}

    {% javascripts output="js/main.js"
        '@libs_js'
        '%kernel.root_dir%/../app_frontend/build/js/app/**/*.js'
        '%kernel.root_dir%/../app_frontend/build/js/app/*.js'
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block additional_scripts %}
    {% endblock %}
</body>
</html>
