{# src/HTWG/DigitalWhiteboard/PresentationBundle/Resources/views/Security/login.html.twig #}
{% extends 'HTWGDigitalWhiteboardPresentationBundle::base.html.twig' %}
{% trans_default_domain "common" %}

{% block body %}

    <div id="block" class="error">
        <h1>{{ 'page_not_found'|trans }}</h1>
    </div>

{% endblock %}