{% trans_default_domain "image_repository" %}

{% block body %}

    <h1>{{ 'image_repository'|trans }}</h1>

    {% include 'HTWGDigitalWhiteboardImageRepositoryBundle:Elements:messages.html.twig' %}

    <form method="" action="#" onsubmit="return false;">
        <input type="file" id="image-select" style="display: none" />
        <input type="file" id="dir_select" style="display:none" webkitdirectory />
        <input type="text" id="remove_file" style="display:none" value=""/>
    </form>

    <div id="browser">
        <ul>
            <li id='root' rel='root' data-rel='image_repository' title='Root'><a href='#'>Root</a>
                <ul>
                    {% include 'HTWGDigitalWhiteboardImageRepositoryBundle:Elements:file.html.twig' %}
                </ul>
            </li>
        </ul>
    </div>

{% endblock %}

{% block additional_scripts %}

    <script type="text/javascript">
        jQuery(document).ready(function(){

            window.AppGlobals.imageRepository = new window.ImageRepository();

            window.AppGlobals.imageRepositoryWebSocket = new window.WhiteboardWebSocket(
                    window.AppConfig.webSocketUrl + ":" + window.AppConfig.webSocketPort
            );

            //Let the user know we're connected
            window.AppGlobals.imageRepositoryWebSocket.bind('open', function() {
                window.AppGlobals.imageRepositoryWebSocket.log( "Connected." );
            });

            //OH NOES! Disconnection occurred.
            window.AppGlobals.imageRepositoryWebSocket.bind('close', function( data ) {
                window.AppGlobals.imageRepositoryWebSocket.log( "Disconnected." );
            });

            //Log any messages sent from server
            window.AppGlobals.imageRepositoryWebSocket.bind('message', function( payload ) {
                window.AppGlobals.imageRepository.dispatch( payload );
            });

            window.AppGlobals.imageRepositoryWebSocket.connect();

        });
    </script>

{% endblock %}