{# src/HTWG/DigitalWhiteboard/PresentationBundle/Resources/views/Security/create.html.twig #}
{% extends 'HTWGDigitalWhiteboardPresentationBundle::base.html.twig' %}
{% trans_default_domain "common" %}

{% form_theme form 'HTWGDigitalWhiteboardPresentationBundle:Form:fields.html.twig' %}

{% block body %}

    <div id="block" class="board">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="{{ path('digital_whiteboard_edit_user') }}">{{ 'profile'|trans }}</a></li>
        </ul>
        <div class="edit">
            {{ form_start(form, {'attr': {'id': 'register-user-form', "novalidate": "novalidate"}}) }}
            {% if all_form_errors(formFull)|length > 0 %}
                <div class="alert alert-danger">
                    {{ all_form_errors(formFull, "ul", "error-messages") }}
                </div>
            {% endif %}

            {% if success %}
                <div class="alert alert-success">{{ success|trans }}</div>
            {% endif %}

            <h1>{{ "user_edit"|trans }}</h1>

            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.password.plain_password, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.password.retype_password, {'attr': {'class': 'form-control'}}) }}

            {{ form_widget(form.submit) }}

            <div class="clear"></div>

            <a href="{{ path("digital_whiteboard_dashboard") }}" class="link">{{ "back_to_dashboard"|trans() }}</a>

            <div class="clear"></div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}