{# src/HTWG/DigitalWhiteboard/PresentationBundle/Resources/views/Security/login.html.twig #}
{% extends 'HTWGDigitalWhiteboardPresentationBundle::base.html.twig' %}
{% trans_default_domain "common" %}

{% block body %}

<div id="block" class="login">

    {% if error %}
        <div class="alert alert-danger">{{ error.message|trans }}</div>
    {% endif %}

    <form action="{{ path('digital_whiteboard_login_check') }}" method="post">
        <h1>{{ "form.login"|trans() }}</h1>
        <input type="text" id="username" class="form-control" name="_username" placeholder="{{ "form.username"|trans() }}" value="{{ last_username }}" />
        <input type="password" class="form-control" id="password" placeholder="{{ "form.password"|trans() }}"  name="_password" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input type="hidden" name="redirect_url" value="{{ url('digital_whiteboard_dashboard') }}" />

        <button type="submit" class="btn">Login</button>
    </form>

    <div class="clear"></div>

    <div class="link-wrapper">
        <a href="{{ path("digital_whiteboard_register_user") }}" class="link">{{ "register_user"|trans() }}</a>
    </div>
</div>

{% endblock %}