{# src/HTWG/DigitalWhiteboard/PresentationBundle/Resources/views/Security/create.html.twig #}
{% extends 'HTWGDigitalWhiteboardPresentationBundle::base.html.twig' %}
{% trans_default_domain "common" %}

{% form_theme form 'HTWGDigitalWhiteboardPresentationBundle:Form:fields.html.twig' %}

{% block body %}

    <div id="block" class="register">

        {% if all_form_errors(formFull)|length > 0 %}
            <div class="alert alert-danger">
                {{ all_form_errors(formFull, "ul", "error-messages") }}
            </div>
        {% endif %}

        {% if success %}
            <div class="alert alert-success">{{ success|trans }}</div>
        {% endif %}

        <h1>{{ "register_user"|trans }}</h1>

        {{ form_start(form, {'attr': {'id': 'register-user-form', "novalidate": "novalidate"}}) }}
            {{ form_widget(form.rolesCollection, {'attr': {'class': 'radio'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.password.plain_password, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.password.retype_password, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}

        <div class="clear"></div>

        <div class="link-wrapper">
            <a href="{{ path("digital_whiteboard_login") }}" class="link">{{ "back_to_login"|trans() }}</a>
        </div>

    </div>

{% endblock %}