<!DOCTYPE html>

{# Conditional <html> tag to have CSS target old IE versions #}
<!--[if lte IE 8]>      <html class="old-ie" ng-app="digitalWhiteboardApp"> <![endif]-->
<!--[if gt  IE 8]><!--> <html ng-app="digitalWhiteboardApp">         <!--<![endif]-->
<head>
    {% block styles %}
        {% stylesheets '@main_css' output="css/main.css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
        {% endstylesheets %}
    {% endblock %}
    <title>Image Repository</title>
    <meta id='viewport' name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {# Shim and Respond.js IE8 support of HTML5 elements and media queries #}
    {# WARNING: Respond.js doesn't work if you view the page via file:// #}
    <!--[if lt IE 9]>
    {% javascripts '@ie_js' output="js/ie.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
</head>
<body>

<script type="text/javascript">
    {% set username = 'anonymous' %}
    {% if app.user is not null %}
    {% set username = app.user.username %}
    {% endif %}
    window.AppConfig = {{ {
               webSocketUrl: 'ws://'+websocket_url + "'",
               webSocketPort: websocket_image_repository_url
            }|json_encode|raw }};
    window.AppGlobals = {{ {
               username: username
            }|json_encode|raw }};
</script>


<div id="content-container">

    {% include 'HTWGDigitalWhiteboardPresentationBundle:Elements:navbar.html.twig' %}

    <div id="content-block">
        {% block body %}{% endblock %}
    </div>

</div>

{% block app_globals %}{% endblock %}

{% javascripts output="js/main.js"
'@libs_js'
'%kernel.root_dir%/../app_frontend/build/js/app/**/*.js'
'%kernel.root_dir%/../app_frontend/build/js/app/*.js'
%}

<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block additional_scripts %}
{% endblock %}
</body>
</html>
