@import "../mixins";
@import "../vars";

#content-container #content-block #block {
  &.board{
    text-align: left;
    margin-top: 120px;
    width: 95%;
    border-top-left-radius: 0px;

    td, th{
      padding-right: 10px;
    }

    tr{
      border-bottom: 1px solid #dddddd;

      td:first-child{
        padding-left: 5px;
      }
    }

    tbody tr:nth-of-type(odd){
      background-color: #E9E9E9;
    }

    input{
      float: left;
    }

    .edit{
      input{
        float: none;
      }
    }

    .video-modal{
      width: 680px;
      height: 500px;
    }

    .dropdown-menu a{
      background: url('/images/arrow.png') no-repeat 0px 5px;
      margin-left: 10px;

      &.delete{
        background: url('/images/delete.png') no-repeat 0px 7px;
      }
    }

    #start-presentation-form button{
      margin-left:15px;
    }
  }
}