#content-container #content-block{
  #block,
  #whiteboard-container #sidebar-image-repository
  {
    &.file-explorer{

      .alert{
        width: 600px;
      }

      .widget .alert{
        width: 240px !important;
        margin-left: 14px !important;
        top: 15px;
        position: relative;
      }


      .loader-container{
        text-align: center;
        vertical-align: middle;
        position: absolute;
        height: 100%;
        .calc-browser-width(5px);
        z-index: 10;
        top: 0px;
        background-color: rgba(241,241,241,0.5);

        .loader{
          background: #F1F1F1 url('/images/loader.gif') no-repeat 0px 0px;
          background-size: 20px Auto;
          width: 20px;
          height: 20px;
          margin: auto;
          margin-top: 100px;
        }
      }

      #progress-bar {
        display: none;
        max-width: 600px;
        margin: 10px 0;
      }

      #browser,
      #file-browser{
        font-family: Verdana;
        font-size: 12px;
        overflow: auto;
        padding-left:5px;
        height: 600px;
        border: 1px solid #9ba5ad;
        background-color: #F1F1F1;
        position: relative;
        top: 10px;
        margin-bottom: 20px;
        max-width: 600px;

        a{
          background: none;
          padding-left: 0px;
        }

        &.jstree-classic li[rel=file]{
          border:none;
          height: 40px;
        }

        &.jstree-classic li[rel=file] a{
          border: none;
          margin-top: 18px;
        }

        &.jstree-classic li[rel=file] a ins{
          display: none;
        }

        &.jstree-classic li[rel=file] .jstree-clicked a{
          margin-top: 25px;
          border: none;
        }

        &.jstree-classic .jstree-clicked {
          background: #88DFF1;
          border:1px solid #99CCFF;
          color: #000;
        }

        ul img{
          max-width: 50px;
          max-height: 40px;
          float: left;
        }

        ul li{
          margin: 10px;
          width: 200px;
          padding-left: 10px;
        }

        ul li[rel=root]{
          padding-left: 0px;
        }
      }
    }

    .tree,.tree ul,.tree li {
      list-style:none;
      margin:0;
      padding:0;
      zoom: 1;
    }
    .tree {
      ul {
        margin-left:22px;
      }
      li {
        img {
          padding:10px 0 0 10px;
          max-height: 60px;
          max-width: 60px;
        }
        a {
          color:#555;
          padding:.1em 7px .1em 20px;
          text-decoration:none;
          border:1px dashed #fff;
        }
        a.file {
          position: relative;
          top:-5px;
        }
        a.tree-parent {
          background:url('/images/folder-opened.png') 3px no-repeat;
          padding-left: 29px;
          display:block;
        }
        a.tree-parent-collapsed {
          background:url('/images/folder-closed.png') 3px no-repeat;
          padding-left: 29px;
          display:block;
        }
      }
      ul.tree-group-collapsed {
        display:none;
      }
    }
    .tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active {
      color:#000;
      border:1px solid#eee;
      background-color:#fafafa;
      -moz-border-radius:4px;
      -webkit-border-radius:4px;
      border-radius:4px;
    }
    .tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active {
      border:1px solid #e2f3fb;
      background-color:#f2fafd;
    }

    #vakata-contextmenu{
      font-family: Verdana;
      font-size: 11px;
    }
  }
}