@import "../mixins";
@import "../vars";

#content-container #content-block #block {
  &.login, &.register{
    width: 300px;

    .alert{
      width: 260px;
    }

    form{
      input{
        width: 260px;
      }

      .radio{
        text-align: left;

        input[type="radio"]{
          display: inline;
          width: 20px;
        }

        label{
          display: block;
          padding: 7px 0 0 5px;
          margin-bottom: 0px;
        }
      }

      button{
        float: right;
      }
    }

    .link-wrapper{
      width: 260px;
      text-align: left;
      margin-top: 10px;
    }
  }
}