@import "../mixins";
@import "../vars";

#main-navigation {
  position: fixed;
  margin: 0px;
  .stretch(0, 0, auto, 0);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.8);

  .navbar-brand {
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: -2px;
    text-shadow: 1px 1px 0 #000;
    color: #fff;
    z-index: 1;
    position: absolute;

    &:hover{
      color: @light_grey;
    }
    img {
      position: relative;
      z-index: 1031;
    }
    .logo {
      color: #5daad5;
    }
  }

  .navbar-collapse {
  }

  &.navbar-inverse{
    .color_base_gradient();
    border-bottom: 1px solid #000;

    .navbar-nav > .open > a{
      background-color: transparent;
    }
  }

  .navbar-nav > li > .dropdown-menu{
    margin: 10px 20px 0 0;
    color: @color_base;
  }

  li.user-info{
    margin: 0;
    padding: 16px 0 0 0;
    color: white;

    a{
      padding: 0 0 0 20px;
      color: white;
      display: inline;

      &:hover{
        text-decoration: none;
        color: white;
      }
    }
  }

  .dropdown-menu{
    left: auto;

    li{
      a{
        display: block;
        color: @color_base;
        &:hover{
          color: @color_base;
        }
      }
    }
  }

  .navbar-header {
    width: 100%;
    height: 1px;
  }

  .common-nav-point {
    padding: 11px 0px 10px;
    #fonts.bold();
    height: 0px;
    color: #ffffff;
    float: left;
    margin-left: 20px;
  }

  .common-nav-point:hover {
    color: #FFF;
    &:hover {
      color: #fff;
    }
  }

  .info-presentation{
    margin: auto;
    text-align: center;
    width: 500px;

    .info{
      float: left;
      width: 100%;
      color: white;
      margin: 16px 0 0 0px;
      white-space: nowrap;
      overflow: hidden;
      o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      #fonts.bold();
    }
  }

  .caret{
    margin-right: 20px;
  }

  .first-divider{
    display: none;
  }

  @media only screen and (min-width: 1400px) {
    .info-presentation{
      width: 700px;
    }
  }

  @media only screen and (max-width: @screen-desktop) {

    .info-presentation{
      width: 300px;
    }

    .navbar-collapse {
      margin-top: 50px;
      padding-left: 0 !important;

      .navbar-nav{
        text-align: right;
        padding-right: 3px;
      }

      li.user-info{
        padding: 0;
      }

      .first-divider{
        display: block;
      }

      .dropdown{
        .dropdown-menu{
          margin: 0px 20px 0px 0px;
        }

        li{
          &:hover{
            background-color:rgba(255,255,255,0.1);
            color: #ffffff;
          }
          a{
            color: white;
          }
        }
      }
    }

  }

}