@import "../mixins";
@import "../vars";

#content-container #content-block{

  div::-webkit-scrollbar-corner{
    background: #F1F1F1;
  }

  #whiteboard-container{

    &.presenter{
      margin: 75px 20px 60px;
    }

    &.viewer{
      margin: 75px 30px 60px;
    }

    #toolbar{
      background-color: #F1F1F1;
      box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      border-bottom-right-radius: 0px;
      border: 1px solid #9BA5AD;
      z-index: 200;
      position: relative;

      .power-box{
        height: 40px;
        border-left: 1px solid  rgba(155, 165, 173, 0.5);
        float: right;

        ul{
          padding: 0 2px 0 0;

          li{
            width: 40px;
            height: 40px;
            float: left;

            &:last-child{
              border-right: none;
            }

            &:hover{
              cursor: pointer;
            }

            &#tool-power{
              background: #F1F1F1 url('/images/toolbar/power.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/power.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &:active{
                .gradient-vertical-with-image('/images/toolbar/power.png', #dae8eb, rgba(148, 163, 175, 0.80));
                background-size: 40px Auto;
              }
            }
          }
        }
      }

      .tool-box{
        height: 40px;
        border-right: 1px solid  rgba(155, 165, 173, 0.5);
        float: left;

        &:first-child ul{
          padding-left: 2px;
        }

        &:last-child{
          border-right: none;
        }

        ul{
          padding-left: 0px;

          li + li:after{
            content: "";
            position: relative;
            padding: 5px 0;
            height: 28px;
            top: -30px;
            width: 1px;
            border-right: 1px solid  rgba(0, 0, 0, 0.1);
          }

          li{
            width: 40px;
            height: 40px;
            float: left;

            div{
              width: 40px;
              height: 40px;
              display: block;

              &:hover{
                cursor: pointer;
              }
            }

            &:last-child{
              border-right: none;
            }

            &#tool-zoom-in{
              background: #F1F1F1 url('/images/toolbar/zoom.in.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/zoom.in.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/zoom.in.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-zoom-out{
              background: #F1F1F1 url('/images/toolbar/zoom.out.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/zoom.out.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/zoom.out.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-back{
              background: #F1F1F1 url('/images/toolbar/arrow.left.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/arrow.left.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/arrow.left.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-next{
              background: #F1F1F1 url('/images/toolbar/arrow.right.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/arrow.right.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/arrow.right.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-add-slide{
              background: #F1F1F1 url('/images/toolbar/page-add.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/page-add.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/page-add.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-remove-slide{
              background: #F1F1F1 url('/images/toolbar/page-del.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/page-del.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/page-del.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-undo{
              background: #F1F1F1 url('/images/toolbar/undo.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/undo.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/undo.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-redo{
              background: #F1F1F1 url('/images/toolbar/redo.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/redo.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/redo.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-webcam,
            &#tool-webcam-stop{
              background: #F1F1F1 url('/images/toolbar/webcam.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/webcam.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/webcam.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/webcam.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-desktop,
            &#tool-desktop-stop{
              background: #F1F1F1 url('/images/toolbar/monitor.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/monitor.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/monitor.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/monitor.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-screencast,
            &#tool-screencast-stop{
              background: #F1F1F1 url('/images/toolbar/projector.screen.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/projector.screen.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/projector.screen.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/projector.screen.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-record{
              background: #F1F1F1 url('/images/toolbar/video-small.png') no-repeat 0px 0px;
              width: auto;

              div{
                width: 140px;
                padding: 10px 0px 0px 40px
              }

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/video-small.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                width: auto;
              }
            }

            &#tool-record-stop{
              background: #F1F1F1 url('/images/toolbar/stop-small.png') no-repeat 0px 0px;
              width: auto;

              div{
                width: 140px;
                padding: 10px 0px 0px 40px
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/stop-small.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                width: auto;
              }
            }

            &#tool-cursor{
              background: #F1F1F1 url('/images/toolbar/cursor.default.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/cursor.default.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/cursor.default.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-delete{
              background: #F1F1F1 url('/images/toolbar/delete.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/delete.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/delete.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-layer-up{
              background: #F1F1F1 url('/images/toolbar/layer.up.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/layer.up.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/layer.up.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-layer-down{
              background: #F1F1F1 url('/images/toolbar/layer.down.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &.selectable:hover{
                .gradient-vertical-with-image('/images/toolbar/layer.down.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selectable:active{
                .gradient-vertical-with-image('/images/toolbar/layer.down.png', @tool_active_gradient_color_top, @tool_active_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-pen{
              background: #F1F1F1 url('/images/toolbar/pen.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/pen.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/pen.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line{
              background: #F1F1F1 url('/images/toolbar/line.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/line.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/line.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-forms{
              background: #F1F1F1 url('/images/toolbar/forms.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/forms.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/forms.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text{
              background: #F1F1F1 url('/images/toolbar/text.serif.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.serif.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.serif.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line-default1{
              background: #F1F1F1 url('/images/toolbar/line.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/line.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/line.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line-default2{
              background: #F1F1F1 url('/images/toolbar/line-default2.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/line-default2.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/line-default2.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line-default3{
              background: #F1F1F1 url('/images/toolbar/line-default3.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/line-default3.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/line-default3.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line-default4{
              background: #F1F1F1 url('/images/toolbar/line-default4.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/line-default4.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/line-default4.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line-default5{
              background: #F1F1F1 url('/images/toolbar/line-default5.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/line-default5.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/line-default5.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line-default6{
              background: #F1F1F1 url('/images/toolbar/line-default6.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/line-default6.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/line-default6.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-pen-default1{
              background: #F1F1F1 url('/images/toolbar/pen-default1.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/pen-default1.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/pen-default1.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-pen-default2{
              background: #F1F1F1 url('/images/toolbar/pen-default2.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/pen-default2.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/pen-default2.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-pen-default3{
              background: #F1F1F1 url('/images/toolbar/pen-default3.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/pen-default3.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/pen-default3.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-pen-default4{
              background: #F1F1F1 url('/images/toolbar/pen-default4.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/pen-default4.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/pen-default4.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-pen-default5{
              background: #F1F1F1 url('/images/toolbar/pen-default5.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/pen-default5.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/pen-default5.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-pen-default6{
              background: #F1F1F1 url('/images/toolbar/pen-default6.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/pen-default6.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/pen-default6.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-line-size,
            &#tool-line-style,
            &#tool-pen-size,
            &#tool-pen-style,
            &#tool-forms-border-style,
            &#tool-forms-border-size,
            &#tool-text-size,
            &#tool-text-style,
            &#tool-group-text-size,
            &#tool-group-text-style,
            &#tool-group-line-size,
            &#tool-group-line-style{

              width: auto;

              select{
                font-size: 12px;
              }

              &:hover{
                .gradient-vertical(@tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
              }

              div{
                width: auto;
                padding: 10px 5px;
              }
            }

            &#tool-line-color,
            &#tool-pen-color,
            &#tool-forms-border-color,
            &#tool-forms-fill-color,
            &#tool-text-color,
            &#tool-group-text-color,
            &#tool-group-line-color,
            &#tool-group-forms-fill-color{
              width: auto;

              &:hover{
                .gradient-vertical(@tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
              }

              input{
                width: 40px;
                color : transparent;
                text-shadow : 0 0 0 #000;

                &:hover{
                  cursor: pointer;
                }

                &:focus{
                  outline : none;
                }
              }

              div{
                width: auto;
                padding: 8px 5px;
              }
            }

            &#tool-forms-circle{
              background: #F1F1F1 url('/images/toolbar/circle.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/circle.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/circle.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-forms-ellipse{
              background: #F1F1F1 url('/images/toolbar/ellipse.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/ellipse.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/ellipse.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-forms-triangle{
              background: #F1F1F1 url('/images/toolbar/triangle.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/triangle.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/triangle.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-forms-square{
              background: #F1F1F1 url('/images/toolbar/square.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/square.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/square.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-forms-rectangle{
              background: #F1F1F1 url('/images/toolbar/rectangle.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/rectangle.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/rectangle.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text-big,
            &#tool-group-text-big{
              background: #F1F1F1 url('/images/toolbar/text.size.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.size.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.size.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text-small,
            &#tool-group-text-small{
              background: #F1F1F1 url('/images/toolbar/text.size-small.png') no-repeat 0px 0px;
              background-position: 5px;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.size-small.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-position: 5px;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.size-small.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-position: 5px;
              }
            }

            &#tool-text-bold,
            &#tool-group-text-bold{
              background: #F1F1F1 url('/images/toolbar/text.bold.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.bold.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.bold.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text-italic,
            &#tool-group-text-italic{
              background: #F1F1F1 url('/images/toolbar/text.italic.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.italic.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.italic.png',@tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text-underline,
            &#tool-group-text-underline{
              background: #F1F1F1 url('/images/toolbar/text.underline.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.underline.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.underline.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text-align-left,
            &#tool-group-text-align-left{
              background: #F1F1F1 url('/images/toolbar/text.align.left.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.align.left.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.align.left.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text-align-center,
            &#tool-group-text-align-center{
              background: #F1F1F1 url('/images/toolbar/text.align.center.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.align.center.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.align.center.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &#tool-text-align-right,
            &#tool-group-text-align-right{
              background: #F1F1F1 url('/images/toolbar/text.align.right.png') no-repeat 0px 0px;
              background-size: 40px Auto;

              &:hover{
                .gradient-vertical-with-image('/images/toolbar/text.align.right.png', @tool_hover_gradient_color_top, @tool_hover_gradient_color_bottom);
                background-size: 40px Auto;
              }

              &.selected{
                .gradient-vertical-with-image('/images/toolbar/text.align.right.png', @tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom);
                background-size: 40px Auto;
              }
            }

            &.unselectable div{
              .gradient-vertical(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));

              &:hover{
                cursor: default;
              }
            }

            &.unselectable-desktop div{
              .gradient-vertical(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) !important;

              &:hover{
                cursor: default !important;
              }
            }

            &.selectable div{
              .gradient-vertical(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));

              &:hover{
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    #sidebar{
      display: inline-block;
      position: absolute;
      z-index: 100;

      ul.sidebar{
        float: left;
        list-style-type: none;
        padding: 10px 0 0 0;

        li{
          background-color: #F1F1F1;
          border: 1px solid #9BA5AD;
          border-right: none;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          margin-top: 7px;
          width: 40px;
          height: 40px;
          box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);

          &:hover{
            cursor: pointer;
          }

          &.selected{
            width: 41px;
          }

          &#slide-action{
            .gradient-horizontal-with-image('/images/toolbar/pages.png', #F1F1F1, #b3b6ba);
            background-size: 40px Auto;

            &:hover, &.selected{
              background: #F1F1F1 url('/images/toolbar/pages.png') no-repeat 0px 0px;
              background-size: 40px Auto;
            }
          }

          &#image-repository-action{
            .gradient-horizontal-with-image('/images/toolbar/image.png', #F1F1F1, #B3B6BA);
            background-size: 40px Auto;

            &:hover, &.selected{
              background: #F1F1F1 url('/images/toolbar/image.png') no-repeat 0px 0px;
              background-size: 40px Auto;
            }
          }

          div{
            width: 39px;
            height: 38px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            display: block;
          }

          &.unselectable-desktop{
            div{
              .gradient-vertical(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) !important;

              &:hover{
                cursor: default !important;
              }
            }
          }
        }
      }

      .content{
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
        background-color: #F1F1F1;
        border: 1px solid #9BA5AD;
        border-top: none;
        border-bottom-left-radius: 5px;
        height: inherit;
        margin-left: 40px;
        width: 6px;

        &.slides{
          width: 220px;
          height: inherit;

          #sidebar-slides{
            height: inherit;
            position: relative;

            .fix-sidebar{
              height: 30px;
              padding: 10px;

              input{
                padding-right: 5px;
              }

              .checkbox{
                margin-top: 0px;
              }
            }

            #slides-container{
              background-color: #F1F1F1;
              border: none;
              width: 215px;
              .calc-browser-height(40px);
              overflow: auto;

              ol{
                margin: 15px 5px 15px 8px;
                padding-left: 0px;
                list-style-type: none;

                li{
                  padding: 5px 5px 5px 5px;
                  width: 190px;
                  position: relative;

                  &:hover{
                    cursor: pointer
                  }

                  &.active{
                    .gradient-vertical (@tool_selected_gradient_color_top, @tool_selected_gradient_color_bottom)
                  }

                  .slide-number{
                    padding-top: 40px;
                    #fonts.bold();
                    position: absolute
                  }

                  .slide-content{
                    padding-left: 15px;
                    width: 160px;
                    height: 100px;

                    img{
                      border: 1px solid black;
                      width: 160px;
                      height: 100px;
                    }
                  }
                }
              }
            }
          }
        }

        &.imageRepository{
          width: 270px;
          height: inherit;

          #sidebar-image-repository{
            height: inherit;
            position: relative;

            .fix-sidebar{
              height: 30px;
              bottom: 10px;
              padding: 10px;
              position: absolute;

              input{
                padding-right: 5px;
              }

              .checkbox{
                margin-top: 0px;
              }
            }

            .browser-container{
              background-color: #F1F1F1;
              margin-bottom: 10px;
              overflow-y: auto;
              overflow-x: hidden;
              width: auto;
              .calc-browser-height(50px);

              .browser-wrapper{
                .calc-browser-height(50px);

                #progress-bar {
                  margin: 35px 10px 15px 10px;
                }

                #browser{
                  border: none;
                  min-width: 100%;
                  .calc-browser-height(50px);
                  margin-bottom: 0px;

                  .loader-container{
                    .calc-browser-width(5px);
                  }
                }
              }

              img:hover{
                cursor: pointer
              }

              .dragging-image{
              }
            }
          }
        }
      }
    }

    #communication{
      background-color: #F1F1F1;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      border-bottom-right-radius: 5px;
      border: 1px solid #9BA5AD;
      border-top: none;
      width: 330px;
      font-size: 13px;
      .pull-right();
      display: inline-block;

      #status{
        margin-right: 100px;
        position: relative;
        z-index: 100;
        right: 237px;
        font-size: 14px;
        bottom: 21px;

        .alert{
          padding: 1px 3px;
          margin-bottom: 0px;
        }

        span {
          -webkit-animation-name: opacity;
          -webkit-animation-duration: 1s;
          -webkit-animation-iteration-count: infinite;

          -moz-animation-name: opacity;
          -moz-animation-duration: 1s;
          -moz-animation-iteration-count: infinite;

          &:nth-child(2) {
            -webkit-animation-delay: 100ms;
            -moz-animation-delay: 100ms;
          }

          &:nth-child(3) {
            -webkit-animation-delay: 300ms;
            -moz-animation-delay: 300ms;
          }
        }
      }

      #communication-container{
        background-color: #F1F1F1;
        border: none;
        padding: 5px;
        width: 320px;
        .calc-browser-height(10px);
        overflow-y: auto;
        overflow-x: hidden;

        #webcam{
          width: 320px;
          height: 240px;

          &.stream{
            background: #F1F1F1 url('/images/placeholder-presenter.png') no-repeat 0px 0px;
            background-size: 320px Auto;
            text-align: center;

            .no-stream-started{
              top: 160px;
              position: relative;
              width: 280px;
              left: 20px;
              font-size: 14px;
            }

            form{
              top: 185px;
              position: relative;
            }
          }

          video{
            padding-top: 10px;
          }
        }

        #chat{
          padding: 30px 5px;
          height: 65%;

          .chat-info{
            border-top: 1px solid #9BA5AD;
            padding-top: 15px;
            margin-bottom: 5px;
          }

          #user-list{
            height: 15%;
            overflow-y: auto;
            background-color: #fbfbfb;
            margin-bottom: 0px;
            word-wrap: break-word;

              ul{
                padding: 0px;
                margin-bottom: 0px;

                li {

                  &.presenterUser{
                    #fonts.bold();
                  }
                }
                li:nth-child(odd) {
                  background-color: rgba(173, 214, 226, 0.40);
                }
              }
            }

          .spacer{
            height: 15px;

            &.messages{
              border-bottom: 1px solid #9BA5AD;
              height: 20px;
              margin-bottom: 20px;
            }
          }

          #messages-list{
            height: 55%;
            background-color: #fbfbfb;
            overflow-y: auto;

            ul{
              padding: 0px;
              margin-bottom: 0px;
              word-wrap: break-word;

              li {
                padding: 3px;
                border-bottom: 1px dashed #9BA5AD;

                &.status{
                  font-style: italic;
                  color: #afafaf;
                }
              }
            }
          }

          form{

            input{
              padding: 7px 5px 5px 5px;
              height: 27px;
              font-size: 13px;
              width: 208px;
            }

            button{
              height: 27px;
              font-size: 13px;
              padding-top: 4px;
            }
          }
        }
      }
    }

    #whiteboard {
      overflow: hidden;
      border-bottom: 1px solid #9BA5AD;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      margin-left: 46px;

      .canvas-container{
        background-color: white;
      }

      #webcam-over-whiteboard{
        width: 240px;
        height: 180px;
        position: relative;
        bottom: 200px;
        left: 20px;

        video{
          position: absolute;
          z-index: 501;
          top: 0px;
          visibility: hidden;
        }
      }
    }
  }
}

#content-container #content-block #whiteboard-container.viewer{

  #whiteboard{
    margin-left: 16px;

    #wb{
      border-bottom-left-radius: 5px;
    }
  }
}