// to standart view less formater - http://www.calluna-software.com/Formatter/Css
//@import "vars";
// This is our own bootstrap build
@import "bootstrap";
@import "bootstrap_config";
@import "jstree/themes/classic/style";
@import "components/pagination";
@import "components/main_navigation";
@import "components/login";
@import "components/dashboard";
@import "components/image_repository";
@import "components/whiteboard";
@import "mixins";

b, strong {
  #fonts.bold();
}

html, body {
  height: 100%;
}

html {
  overflow: auto;
  overflow-y: scroll;
  min-width: 1020px;

  @media only screen and (max-width: 1020px) {
    min-width: 320px;

    &.widget{
      min-width: 230px;
      overflow-y: auto;
    }
  }
}

body{
  color: @color_base;
}

td, th{
  padding: 5px 5px 5px 0px;
}

.clear {
  clear: both;
}

h1{
  margin: 0 0 20px;
  font-size: 20px;
  #fonts.bold();
}

ul li{
  list-style-type: none;
}

.spacer{
  height: 20px;
}

#content-container {
  .js-loading & {
    display: none;
  }
  position: relative;
  overflow: visible;
  height: auto !important;
  min-height: 100%;
  margin: 0 auto -50px;
  background-color: @background_color_base;

  #content-block {
    width: 100%;
    overflow: hidden;
    padding-bottom: 50px;

    .nav-tabs{
      border-bottom: none;
    }

    .nav{
      margin: -65px 0 20px -25px;

      a{
        border:none;
      }

      li{
        overflow: hidden;
        padding: 5px 5px 0 5px;

        a{
          background-image: -webkit-gradient(linear, left top, left bottom, from(#EDF1F5), to(#dfe2e6));
          background-image: -moz-linear-gradient(top, #EDF1F5, #dfe2e6);
          cursor: pointer;
          color: #2a3a48;
          font-weight: bold;
          text-shadow: 1px 1px 0 #FFFFFF;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          height: 39px;
        }

        &.active{
          padding: 5px 5px 0 5px;

          a{
            background-image: -webkit-gradient(linear, left top, left bottom, from(#EDF1F5), to(white));
            background-image: -moz-linear-gradient(top, #EDF1F5, white);
            height: 40px;
          }
        }
      }
    }

    #block{
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      text-align: center;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      margin: 100px auto 50px;

      .alert{
        text-align: left;
        width: 400px;

        .error-messages{
          text-align: left;
          padding: 0px 0px 5px 3px;
        }
      }

      form{

        input{
          display: block;
          height: 27px;
          margin-bottom: 10px;
          padding: 2px;
          background: rgba(0, 0, 0, 0.05);
          border: 1px solid rgba(0, 0, 0, 0.15);
          .box-shadow("0 1px 2px rgba(0, 0, 0, 0.1) inset");
          border-radius: 3px;
          font-size: 14px;
          width: 400px;

          &.error{
            border-color: #A94442;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;

            &:focus{
              border-color: #843534;
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #CE8483;
            }
          }
        }

        @media only screen and (max-width: @screen-tablet) {
          input{
            width: 300px;
          }
        }

        @media only screen and (max-width: @screen-phone) {
          input{
            width: 200px;
          }
        }

          button{
          padding: 2px 5px;
          .border-radius(3px);
          border: 1px solid #192937;
          background: rgba(187, 255, 255, 0.19999999999999996);
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.19999999999999996)), to(rgba(187, 255, 255, 0)));
          background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.19999999999999996), rgba(187, 255, 255, 0));
          background-color: #2a3a48;
          .box-shadow("0 1px 4px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2)");
          text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
          color: #c7d1d8;
          cursor: pointer;
          display: block;
          width: 100px;
          font-size: 14px;
          float: left;
          margin-left: 320px;

          &:hover {
            background: rgba(187, 255, 255, 0.30000000000000004);
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(187, 255, 255, 0.30000000000000004)), to(rgba(187, 255, 255, 0)));
            background-image: -moz-linear-gradient(top, rgba(187, 255, 255, 0.30000000000000004), rgba(187, 255, 255, 0));
            background-color: #2a3a48;
            color: #ffffff;
          }

          &.save{
            width: 80px;
          }
        }
      }
    }

    a {
      text-align: left;
      color: @color_base;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
      background: url('/images/arrow.png') no-repeat 0px 0px;
      padding-left: 18px;
      cursor: pointer;

      &:hover{
        text-shadow: 1px 1px rgba(255, 255, 255, 1);
        text-decoration: underline;
      }

      &.delete{
        background: url('/images/delete.png') no-repeat 0px 2px;
      }
    }
  }
}

.push{
  height: 50px;
}

footer {
  .color_base_gradient();
  position: relative;
  height: 50px;
  clear:both;
  width: 100%;
  padding: 15px 20px;
  color: white;
  margin-top: -50px;

  a{
    &:hover{
      text-decoration: none;
    }
  }
}