@import "bootstrap/less/mixins";

.stretch(@top: 0, @right: @top, @bottom: @top, @left: @right) {
  position: absolute;
  top: @top;
  right: @right;
  bottom: @bottom;
  left: @left;
}

.border-radius (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

// #footer { .rounded-corners(10px); }
.box-shadow(@param) {
  -webkit-box-shadow: @param;
  box-shadow: @param;
}

.opacity(@percent) {
  opacity: @percent;
  filter: 'alpha(opacity=' @percent*100 ')';
}

.calc-browser-height(@height){
  /* Firefox */
  height: -moz-calc(~'100% - @{height}');
  /* WebKit */
  height: -webkit-calc(~'100% - @{height}');
  /* Opera */
  height: -o-calc(~'100% - @{height}');
  /* Standard */
  height: calc(~'100% - @{height}');
}

.calc-browser-width(@width){
  /* Firefox */
  width: -moz-calc(~'100% - @{width}');
  /* WebKit */
  width: -webkit-calc(~'100% - @{width}');
  /* Opera */
  width: -o-calc(~'100% - @{width}');
  /* Standard */
  width: calc(~'100% - @{width}');
}

.dropdown-menu-reset() {
  .box-shadow(none);
  border-radius: 0;
  border: none;
  margin: 0;
  padding: 0;
}

.gradient (@start, @end) {
  background: @start;
  background: -moz-linear-gradient(top, @start 30%, @end 100%);
  background: -webkit-linear-gradient(top, @start 30%,@end 100%);
  background: -o-linear-gradient(top, @start 30%,@end 100%);
  background: -ms-linear-gradient(top, @start 30%,@end 100%);
  background: linear-gradient(to bottom, @start 30%,@end 100%);
}

.gradient-vertical (@start, @end) {
  background: @start;
  background: -moz-linear-gradient(top, @start, @end);
  background: -webkit-linear-gradient(top, @start, @end);
  background: -o-linear-gradient(top, @start, @end);
  background: -ms-linear-gradient(top, @start, @end);
  background: linear-gradient(to bottom, @start, @end);
}

.gradient-vertical-with-image (@image, @start, @end) {
  background: @start url(@image) no-repeat 0px 0px;
  background: url(@image) no-repeat 0px 0px,
              -moz-linear-gradient(top, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              -webkit-linear-gradient(top, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              -o-linear-gradient(top, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              -ms-linear-gradient(top, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              linear-gradient(to bottom, @start, @end);
}

.gradient-horizontal-with-image (@image, @start, @end) {
  background: @start url(@image) no-repeat 0px 0px;
  background: url(@image) no-repeat 0px 0px,
              -moz-linear-gradient(right, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              -webkit-linear-gradient(left, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              -o-linear-gradient(left, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              -ms-linear-gradient(left, @start, @end);
  background: url(@image) no-repeat 0px 0px,
              linear-gradient(to right, @start, @end);
}

#fonts {
  @fallback-fonts: "Helvetica Neue", sans-serif;
  color: @color_base;
  .light() {
    font-family: @fallback-fonts;
    font-weight: lighter;
    font-style: normal;

    .old-ie & {
      font-weight: normal;
    }
  }
  .normal() {
    font-family: @fallback-fonts;
    font-weight: normal;
    font-style: normal;
  }
  .bold() {
    font-family: @fallback-fonts;
    font-weight: bold;
    font-style: normal;

    .old-ie & {
      font-weight: normal;
    }
  }
  .bolder() {
    font-family: @fallback-fonts;
    font-weight: bolder;
    font-style: normal;

    .old-ie & {
      font-weight: normal;
    }
  }
  .condensed-normal() {
    font-family: @fallback-fonts;
    font-weight: normal;
    font-style: normal;
  }
  .condensed-bold() {
    font-family: @fallback-fonts;
    font-weight: bold;
    font-style: normal;

    .old-ie & {
      font-weight: normal;
    }
  }
  .condensed-bolder() {
    font-family: @fallback-fonts;
    font-weight: bolder;
    font-style: normal;

    .old-ie & {
      font-weight: normal;
    }
  }
}
.user-select(@param: none) {
  -ms-user-select: @param;
  -moz-user-select: @param;
  -webkit-user-select: @param;
  -khtml-user-select: @param;
  user-select: @param;
}
.transform(@param: -20deg) {
  -webkit-transform: rotate(@param);
  -moz-transform: rotate(@param);
  -ms-transform: rotate(@param);
  -o-transform: rotate(@param);
  transform: rotate(@param);
}

.color_base_gradient{
  .gradient(@gradient_color_base_top,@gradient_color_base_bottom);
}