// variables
@header_height: 50px;
@color_base: rgba(36,45,54,1);
@background_color_base: rgba(199,210,216,1);

@gradient_color_base_top: rgba(65, 84, 98, 1);
@gradient_color_base_bottom: rgba(45, 59, 68, 1);

@light_grey: #EEEEEE;

@tool_hover_gradient_color_top: #e0eef1;
@tool_hover_gradient_color_bottom: rgba(188, 205, 217, 0.80);

@tool_active_gradient_color_top: #dae8eb;
@tool_active_gradient_color_bottom: rgba(148, 163, 175, 0.80);

@tool_selected_gradient_color_top: #b0e9f1;
@tool_selected_gradient_color_bottom: rgba(63, 193, 226, 0.80);
