{% extends 'HTWGDigitalWhiteboardPresentationBundle::base.html.twig' %}

{% trans_default_domain "common" %}

{% block body %}

    <div id="block" class="board">

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="{{ path('digital_whiteboard_dashboard') }}">{{ 'presentations'|trans }}</a></li>
            <li><a href="{{ path('digital_whiteboard_image_repository') }}">{{ 'image_repository'|trans }}</a></li>
        </ul>

        <h1>{{ "start_presentation"|trans }}</h1>

        {{ form_start(form, {'attr': {'id': 'start-presentation-form', "novalidate": "novalidate"}}) }}
            {% if all_form_errors(formFull)|length > 0 %}
                <div class="alert alert-danger">
                    {{ all_form_errors(formFull, "ul", "error-messages") }}
                </div>
            {% endif %}

            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}

        <div class="clear spacer"></div>

        <h1>{{ "list_presentations"|trans }}</h1>

        {% if presentations|length > 0 %}

            <table>
                <thead>
                    <tr>
                        <th style="width: 80px"></th>
                        <th style="width: 600px">{{ 'title'|trans }}</th>
                        <th style="width: 120px">{{ 'duration'|trans }}</th>
                        <th style="width: 150px">{{ 'last_update'|trans }}</th>
                        <th style="width: 70px">{{ 'state'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for presentation in presentations %}
                    <tr style="width: 80px">
                        <td>
                            <!-- Single button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {% if presentation.state|e|number_format == 0 %}
                                        <li><a href="{{ path('digital_whiteboard_connect_presentation', { 'id': presentation.id }) }}">{{ 'reconnect'|trans }}</a></li>
                                        <li class="divider"></li>
                                    {% endif %}
                                    {% if presentation.state|e|number_format == 2 %}
                                        {% set divider = false %}
                                        {% if presentation.id|pdf_exists %}
                                            {% set divider = true %}
                                            <li>
                                                <a href="{{ path('digital_whiteboard_pdf_presentation', { 'id': presentation.id }) }}">{{ 'download_pdf'|trans }}</a>
                                            </li>
                                        {% endif %}
                                        {% if presentation.id|video_exists %}
                                            {% set divider = true %}
                                            <li>
                                                <a data-toggle="modal" href="{{ path('digital_whiteboard_video_presentation', { 'id': presentation.id }) }}" data-target="#modal">
                                                    {{ 'watch_video'|trans }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if divider %}
                                            <li class="divider"></li>
                                        {% endif %}
                                    {% endif %}
                                    <li><a href="#" class="delete"
                                           dw-data-url="{{ path('digital_whiteboard_delete_presentation', { 'id': presentation.id }) }}"
                                           dw-data-question="{{ 'delete_presentation_question'|trans }}" dw-delete-presentation >{{ 'delete'|trans }}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td style="padding-right:30px; width: 600px;">{{ presentation.name|e }}</td>
                        <td style="width: 120px">
                            {% if presentation.duration|e == 0 %}
                                {{ 'not_recorded'|trans }}
                            {% else %}
                                {{ presentation.duration|e|date("H:i:s", false) }}
                            {% endif %}
                        </td>
                        <td style="width: 150px">{{ presentation.date|e }}</td>
                        <td style="width: 70px">
                          {% if presentation.state|e|number_format == 0 %}
                              <span class="label label-info">{{ 'not_finished'|trans }}</span>
                          {% elseif presentation.state|e|number_format == 1 %}
                              <span class="label label-warning">{{ 'transcoding'|trans }}</span>
                          {% else %}
                              <span class="label label-default">{{ 'finished'|trans }}</span>
                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if totalPages > 0 %}
                <ul class="pagination">
                    {% for i in 1..totalPages %}
                        {% if loop.first %}
                            {% set prevPage = currentPage - 1 %}
                            {% if currentPage == 1 %}
                                {% set prevPage = currentPage %}
                            {% endif %}
                            <li class="prev {% if currentPage == 1 %} disabled {% endif %}">
                                <a href="{{ path('digital_whiteboard_dashboard_list', {'page': prevPage}) }}">&laquo;</a>
                            </li>
                        {% endif %}
                        <li {% if currentPage == loop.index %} class="active" {% endif %}>
                            <a href="{{ path('digital_whiteboard_dashboard_list', {'page': loop.index}) }}">{{ loop.index }}</a>
                        </li>
                        {% if loop.last %}
                            <li class="next {% if currentPage == totalPages %} disabled {% endif %}">
                                {% set nextPage = currentPage + 1 %}
                                {% if currentPage == totalPages %}
                                    {% set nextPage = currentPage %}
                                {% endif %}
                                <a href="{{ path('digital_whiteboard_dashboard_list', {'page': nextPage}) }}">&raquo;</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="clear"></div>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog video-modal">
                <div class="modal-content"></div>
            </div>
        </div>

    </div>

{% endblock %}

{% block additional_scripts %}

    <script type="text/javascript">
        jQuery(document).ready(function(){
            $('#modal').on('hide.bs.modal', function (e) {
                var video = document.getElementById("video-presentation");
                video.pause();
            })
        })
    </script>

{% endblock %}