{% trans_default_domain "common" %}

<div id="communication" ng-cloak class="ng-cloak">
    <div id="communication-container">
        <div id="webcam" class="stream">
            <div class="no-stream-started" ng-show="!tools.webcam">
                <div class="alert alert-danger" role="alert">{{ 'no_stream_available'|trans }}</div>
            </div>
            <div class="stream-started" ng-show="tools.webcamStarted">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" id="join">{{ 'stream_available'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="chat">
            <div class="chat-info">
                <span>
                    <strong>
                        <span id="count-users">{[countConnectedUsers]}</span>
                        <span id="single-user" ng-class="{'hide' : countConnectedUsers > 1}">{{ 'single_user_connected'|trans }}</span>
                        <span id="multi-user" ng-class="{'hide' : countConnectedUsers == 1}">{{ 'multi_user_connected'|trans }}</span>
                    </strong>
                </span>
            </div>
            <div id="user-list">
                <ul id="users" ng-model="connectedUsers">
                    <li ng-repeat="user in connectedUsers track by user.userID" ng-class="{'presenterUser' : user.presenter}">
                        <span ng-show="user.presenter">{{ 'Presenter'|trans }} </span>{[user.firstName]} {[user.lastName]}
                    </li>
                </ul>
            </div>
            <div class="spacer messages"></div>
            <div id="messages-list">
                <ul id="messages" ng-model="messages">
                    <li ng-repeat="message in messages" ng-class="{true : 'status'}[message.state == 'stateJoining' || message.state == 'stateLeaving']">
                        <span ng-class="{'hide' : message.state == 'text'}">
                            <span ng-class="{'hide' : message.state == 'stateLeaving'}">{[message.text]} {{ 'message_state_joining'|trans }}</span>
                            <span ng-class="{'hide' : message.state == 'stateJoining'}">{[message.text]} {{ 'message_state_leaving'|trans }}</span>
                        </span>
                        <span ng-class="{'hide' : message.state != 'text'}">{[message.text]}</span>
                    </li>
                </ul>
            </div>
            <div class="spacer"></div>
            <form class="form-inline" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" id="text-message" placeholder="{{ 'message'|trans }}" />
                    <button type="submit" class="btn btn-primary" dw-send-message>{{ 'send'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
    <div id="status">
        <div id="status-connected" class="alert alert-success" role="alert" ng-show="status.connected">{{ 'status.connected'|trans }}</div>
        <div id="status-no-connection" class="alert alert-danger" role="alert" ng-show="status.noConnection">{{ 'status.no-connection'|trans }}<span>.</span><span>.</span><span>.</span></div>
    </div>
</div>