<footer>
    <div class="pull-left">
        Copyright &copy; 2014 <a href="#">Digital Whiteboard</a>
    </div>
    <div class="pull-right">
        <a href="http://www.htwg-konstanz.de">HTWG Konstanz</a>
    </div>
    <div class="clear"></div>
</footer>