{% trans_default_domain "common" %}

<nav id="main-navigation" class="navbar navbar-inverse navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        {% if app.user %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-points">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        {% endif %}

        <a class="navbar-brand" href="{{ url('digital_whiteboard_index') }}"><span class="logo">DIGITAL</span>WHITEBOARD</a>
    </div>

    {% if presentation is defined %}

        <div class="info-presentation">
            <span class="info" title="{{ 'presentation'|trans }}: {{ presentation.name|e }}">
                {{ 'presentation'|trans }}: {{ presentation.name|e }}
            </span>
        </div>

    {% endif %}

    {% if app.user %}

        {% if presentation is not defined %}
            <div class="info-presentation">
                <div class="info">
                    Dashboard
                </div>
            </div>
        {% endif %}

        <div class="collapse navbar-collapse navbar-right" id="nav-points">
            <ul class="nav navbar-nav">
                <li class="dropdown user-info">
                    {{ 'role'|trans }}: {{ app.user.roles.0.name|trans }}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ app.user.firstname }} {{ app.user.lastname }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class="divider first-divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ path('digital_whiteboard_edit_user') }}">{{ 'user_edit'|trans }}</a>
                        </li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{{ path('digital_whiteboard_logout') }}">Logout</a></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    {% endif %}

</nav>