{% trans_default_domain "toolbar" %}

<div id="toolbar" ng-cloak class="ng-cloak">
    <div class="tool-box">
        <ul>
            <li id="tool-zoom-in" class="tool selectable" title="{{ 'tool.zoom_in'|trans }}" dw-zoom-in><div></div></li>
            <li id="tool-zoom-out" class="tool selectable" title="{{ 'tool.zoom_out'|trans }}" dw-zoom-out><div></div></li>
        </ul>
    </div>
    <div class="power-box">
        <ul>
            <li id="tool-power" class="tool" title="{{ 'tool.power'|trans }}" dw-power-off-viewer>
                <span class="hide" id="power-off">{{ 'tool.power_off'|trans }}</span>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>