{% trans_default_domain "toolbar" %}

<div id="toolbar" ng-cloak class="ng-cloak">
    <div class="tool-box">
        <ul>
            <li id="tool-back" class="tool unselectable" title="{{ 'tool.back'|trans }}" ng-class="{selectable: tools.back}" dw-back><div></div></li>
            <li id="tool-next" class="tool unselectable" title="{{ 'tool.next'|trans }}" ng-class="{selectable: tools.next}" dw-next><div></div></li>
        </ul>
    </div>
    <div class="tool-box">
        <ul>
            <li id="tool-add-slide" class="tool selectable" title="{{ 'tool.add-page'|trans }}" dw-add-slide><div></div></li>
            <li id="tool-remove-slide" class="tool unselectable" title="{{ 'tool.remove-page'|trans }}" ng-class="{selectable: tools.removeSlide}" dw-remove-slide><div></div></li>
        </ul>
    </div>
    <div class="tool-box">
        <ul>
            <li id="tool-undo" class="tool unselectable" title="{{ 'tool.undo'|trans }}" ng-class="{selectable: tools.undo}" dw-undo><div></div></li>
            <li id="tool-redo" class="tool unselectable" title="{{ 'tool.redo'|trans }}" ng-class="{selectable: tools.redo}" dw-redo><div></div></li>
        </ul>
    </div>
    <div class="tool-box">
        <ul>
            <li id="tool-webcam" class="tool unselectable" title="{{ 'tool.webcam'|trans }}" ng-class="{selectable: tools.webcamAvailable}" dw-webcam ng-show="!tools.webcam"><div></div></li>
            <li id="tool-webcam-stop" class="tool selected" title="{{ 'tool.webcam_stop'|trans }}" dw-webcam ng-show="tools.webcam"><div></div></li>
            <li id="tool-desktop" class="tool unselectable" title="{{ 'tool.desktop'|trans }}" ng-class="{selectable: tools.desktopAvailable}" dw-desktop ng-show="!tools.desktop"><div></div></li>
            <li id="tool-desktop-stop" class="tool selected" title="{{ 'tool.desktop_stop'|trans }}" dw-desktop ng-show="tools.desktop"><div></div></li>
            <li id="tool-screencast" class="tool unselectable" title="{{ 'tool.screencast'|trans }}" ng-class="{selectable: tools.screencastAvailable}" dw-screencast ng-show="!tools.screencast"><div></div></li>
            <li id="tool-screencast-stop" class="tool selected" title="{{ 'tool.screencast_stop'|trans }}" dw-screencast ng-show="tools.screencast"><div></div></li>
            <li id="tool-record" class="tool unselectable" title="{{ 'tool.record'|trans }}" ng-class="{selectable: tools.recordAvailable}" ng-show="tools.record" dw-record>
                <div>
                    <span>{{ 'tool.time'|trans }}: </span><span class="record-time">00:00:00</span>
                </div>
            </li>
            <li id="tool-record-stop" class="tool selected" title="{{ 'tool.record-stop'|trans }}" ng-show="tools.recordStop" dw-record-stop>
                <div>
                    <span>{{ 'tool.time'|trans }}: </span><span class="record-time">00:00:00</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="tool-box">
        <ul>
            <li id="tool-cursor" class="tool" title="{{ 'tool.cursor'|trans }}" ng-class="{selected: tools.cursor}" dw-show-cursor-tools><div></div></li>
            <li id="tool-delete" class="tool unselectable" title="{{ 'tool.delete'|trans }}" ng-class="{selectable: tools.delete}" dw-delete-element><div></div></li>
            <li id="tool-layer-up" class="tool unselectable" title="{{ 'tool.layer-up'|trans }}" ng-class="{selectable: tools.layerUp}" dw-layer-up-element><div></div></li>
            <li id="tool-layer-down" class="tool unselectable" title="{{ 'tool.layer-down'|trans }}" ng-class="{selectable: tools.layerDown}" dw-layer-down-element><div></div></li>
            <li id="tool-pen" class="tool" title="{{ 'tool.pen.pen'|trans }}" ng-class="{true: 'selected'}[tools.pen.selected && !canvas.options.isEditingMode]" dw-show-pen-tools><div></div></li>
            <li id="tool-line" class="tool" title="{{ 'tool.line.line'|trans }}" ng-class="{true: 'selected'}[tools.line.selected && !canvas.options.isEditingMode]" dw-show-line-tools><div></div></li>
            <li id="tool-forms" class="tool" title="{{ 'tool.forms.forms'|trans }}" ng-class="{true: 'selected'}[tools.forms.selected && !canvas.options.isEditingMode]" dw-show-forms-tools><div></div></li>
            <li id="tool-text" class="tool" title="{{ 'tool.text.text'|trans }}" ng-class="{selected: tools.text.selected && !canvas.options.isEditingMode}" dw-show-text-tools><div></div></li>
        </ul>
    </div>
    <div id="tool-options-pen" class="tool-box tool-options ng-hide" ng-show="tools.pen.selected">
        <ul>
            <li id="tool-pen-default1" class="default selected ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.pen.default1'|trans }}"
                ng-class="{selected: tools.pen.default1.selected}" dw-show-pen-default dw-default="tools.pen.default1"><div></div></li>
            <li id="tool-pen-default2" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.pen.default2'|trans }}"
                ng-class="{selected: tools.pen.default2.selected}" dw-show-pen-default dw-default="tools.pen.default2"><div></div></li>
            <li id="tool-pen-default3" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.pen.default3'|trans }}"
                ng-class="{selected: tools.pen.default3.selected}" dw-show-pen-default dw-default="tools.pen.default3"><div></div></li>
            <li id="tool-pen-default4" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.pen.default4'|trans }}"
                ng-class="{selected: tools.pen.default4.selected}" dw-show-pen-default dw-default="tools.pen.default4"><div></div></li>
            <li id="tool-pen-default5" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.pen.default5'|trans }}"
                ng-class="{selected: tools.pen.default5.selected}" dw-show-pen-default dw-default="tools.pen.default5"><div></div></li>
            {# <li id="tool-pen-default6" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.pen.default5'|trans }}"
                ng-class="{selected: tools.pen.default5.selected}" dw-show-pen-default dw-default="tools.pen.default5"><div></div></li> #}
            <li id="tool-pen-size" class="tool">
                <div>
                    {{ 'tool.pen.size'|trans }}:
                    <select id="tool-pen-size-select" ng-change="tools.pen.modify()" ng-model="tools.pen.size" integer>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                    </select>
                </div>
            </li>
            {# <li id="tool-pen-style" class="tool">
                <div>
                    {{ 'tool.pen.pen-style'|trans }}:
                    <select id="tool-pen-style-select" ng-model="tools.pen.pen.style">
                        <option value="stroke" selected="selected">{{ 'tool.pen.style.line'|trans }}</option>
                        <option value="dashed">{{ 'tool.pen.style.dashed'|trans }}</option>
                        <option value="dotted">{{ 'tool.pen.style.dotted'|trans }}</option>
                    </select>
                </div>
            </li> #}
            <li id="tool-pen-color" class="tool">
                <div>
                    {{ 'tool.pen.color'|trans }}:
                    {# use input type=color as soon as available for safari/opera #}
                    <input id="tool-pen-color-field" class="color {valueElement:'tool-pen-color-value'}" />
                    <input id="tool-pen-color-value" style="display:none" ng-change="tools.pen.modify()" ng-model="tools.pen.color"/>
                </div>
            </li>
        </ul>
    </div>
    <div id="tool-options-line" class="tool-box tool-options ng-hide" ng-show="tools.line.selected">
        <ul>
            <li id="tool-line-default1" class="default selected ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.line.default1'|trans }}"
                ng-class="{selected: tools.line.default1.selected}" dw-show-line-default dw-default="tools.line.default1"><div></div></li>
            <li id="tool-line-default2" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.line.default2'|trans }}"
                ng-class="{selected: tools.line.default2.selected}" dw-show-line-default dw-default="tools.line.default2"><div></div></li>
            <li id="tool-line-default3" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.line.default3'|trans }}"
                ng-class="{selected: tools.line.default3.selected}" dw-show-line-default dw-default="tools.line.default3"><div></div></li>
            <li id="tool-line-default4" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.line.default4'|trans }}"
                ng-class="{selected: tools.line.default4.selected}" dw-show-line-default dw-default="tools.line.default4"><div></div></li>
            {# <li id="tool-line-default5" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.line.default5'|trans }}"
                ng-class="{selected: tools.line.default5.selected}" dw-show-line-default dw-default="tools.line.default5"><div></div></li>
            <li id="tool-line-default6" class="default ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.line.default6'|trans }}"
                ng-class="{selected: tools.line.default6.selected}" dw-show-line-default dw-default="tools.line.default6"><div></div></li> #}
            <li id="tool-line-size">
                <div>
                    {{ 'tool.line.size'|trans }}:
                    <select id="tool-line-size-select" ng-change="tools.line.modify()" ng-model="tools.line.size" integer>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                    </select>
                </div>
            </li>
            <li id="tool-line-style">
                <div>
                    {{ 'tool.line.line-style'|trans }}:
                    <select id="tool-line-style-select" ng-change="tools.line.modify()" ng-model="tools.line.style">
                        <option value="stroke">{{ 'tool.line.style.line'|trans }}</option>
                        <option value="dashed">{{ 'tool.line.style.dashed'|trans }}</option>
                        <option value="dotted">{{ 'tool.line.style.dotted'|trans }}</option>
                    </select>
                </div>
            </li>
            <li id="tool-line-color">
                <div>
                    {{ 'tool.line.color'|trans }}:
                    <input id="tool-line-color-field" class="color {valueElement:'tool-line-color-value'}"/>
                    <input id="tool-line-color-value" style="display:none" ng-change="tools.line.modify()" ng-model="tools.line.color"/>
                </div>
            </li>
        </ul>
    </div>
    <div id="tool-options-forms" class="tool-box tool-options" ng-show="tools.forms.selected">
        <ul>
            <li id="tool-forms-circle" class="tool selected ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.forms.circle'|trans }}"
                ng-class="{selected: tools.forms.circle.selected}" dw-show-forms-default dw-default="tools.forms.circle"><div></div></li>
            <li id="tool-forms-ellipse" class="tool ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.forms.ellipse'|trans }}"
                ng-class="{selected: tools.forms.ellipse.selected}" dw-show-forms-default dw-default="tools.forms.ellipse"><div></div></li>
            <li id="tool-forms-triangle" class="tool ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.forms.triangle'|trans }}"
                ng-class="{selected: tools.forms.triangle.selected}" dw-show-forms-default dw-default="tools.forms.triangle"><div></div></li>
            <li id="tool-forms-square" class="tool ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.forms.square'|trans }}"
                ng-class="{selected: tools.forms.square.selected}" dw-show-forms-default dw-default="tools.forms.square"><div></div></li>
            <li id="tool-forms-rectangle" class="tool ng-hide" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.forms.rectangle'|trans }}"
                ng-class="{selected: tools.forms.rectangle.selected}" dw-show-forms-default dw-default="tools.forms.rectangle"><div></div></li>
            <li id="tool-forms-border-size" class="tool">
                <div>
                    {{ 'tool.forms.border-size'|trans }}:
                    <select id="tool-forms-border-size-select" ng-change="tools.forms.modify()" ng-model="tools.forms.borderSize" integer>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                    </select>
                </div>
            </li>
            <li id="tool-forms-border-style">
                <div>
                    {{ 'tool.forms.border-style'|trans }}:
                    <select id="tool-forms-style-select" ng-change="tools.forms.modify()" ng-model="tools.forms.borderStyle">
                        <option value="stroke">{{ 'tool.forms.style.line'|trans }}</option>
                        <option value="dashed">{{ 'tool.forms.style.dashed'|trans }}</option>
                        <option value="dotted">{{ 'tool.forms.style.dotted'|trans }}</option>
                    </select>
                </div>
            </li>
            <li id="tool-forms-border-color" class="tool">
                <div>
                    {{ 'tool.forms.border-color'|trans }}:
                    <input id="tool-forms-border-color-field" class="color {valueElement:'tool-forms-border-color-value'}"/>
                    <input id="tool-forms-border-color-value" style="display:none" ng-change="tools.forms.modify()" ng-model="tools.forms.borderColor"/>
                </div>
            </li>
            <li id="tool-forms-fill-color" class="tool">
                <div>
                    {{ 'tool.forms.fill-color'|trans }}:
                    <input id="tool-forms-fill-color-field" class="color {valueElement:'tool-forms-fill-color-value'}"/>
                    <input id="tool-forms-fill-color-value" style="display:none" ng-change="tools.forms.modify()" ng-model="tools.forms.color"/>
                </div>
            </li>
        </ul>
    </div>
    <div id="tool-options-text" class="tool-box tool-options" ng-show="tools.text.selected">
        <ul>
            <li id="tool-text-big" class="tool selected" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.text.big'|trans }}"
                ng-class="{selected: tools.text.big.selected}" dw-show-text-default dw-default="tools.text.big"><div></div></li>
            <li id="tool-text-small" class="tool" ng-show="!canvas.options.isEditingMode" title="{{ 'tool.text.small'|trans }}"
                ng-class="{selected: tools.text.small.selected}" dw-show-text-default dw-default="tools.text.small"><div></div></li>
            <li id="tool-text-bold" class="tool" title="{{ 'tool.text.bold'|trans }}" ng-click="tools.text.changeBold()" ng-class="{selected: tools.text.bold}"><div></div></li>
            <li id="tool-text-italic" class="tool" title="{{ 'tool.text.italic'|trans }}" ng-click="tools.text.changeItalic()" ng-class="{selected: tools.text.italic}"><div></div></li>
            <li id="tool-text-underline" class="tool" title="{{ 'tool.text.underline'|trans }}" ng-click="tools.text.changeUnderline()" ng-class="{selected: tools.text.underline}"><div></div></li>
            <li id="tool-text-align-left" class="tool selected" title="{{ 'tool.text.align.left'|trans }}" ng-click="tools.text.changeAlignment('leftAlign')" ng-class="{selected: tools.text.leftAlign}"><div></div></li>
            <li id="tool-text-align-center" class="tool" title="{{ 'tool.text.align.center'|trans }}" ng-click="tools.text.changeAlignment('centerAlign')" ng-class="{selected: tools.text.centerAlign}"><div></div></li>
            <li id="tool-text-align-right" class="tool" title="{{ 'tool.text.align.right'|trans }}" ng-click="tools.text.changeAlignment('rightAlign')" ng-class="{selected: tools.text.rightAlign}"><div></div></li>
            <li id="tool-text-size" class="tool" title="{{ 'tool.text.size'|trans }}">
                <div>
                    {{ 'tool.text.size'|trans }}:
                    <select id="tool-text-size-select" ng-change="tools.text.modify('fontSize')" ng-model="tools.text.fontSize" integer>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                        <option value="24">24</option>
                        <option value="32">32</option>
                    </select>
                </div>
            </li>
            <li id="tool-text-style" title="{{ 'tool.text.style'|trans }}">
                <div>
                    <select id="tool-text-style-select" ng-change="tools.text.modify('fontFamily')" ng-model="tools.text.fontFamily">
                        <option value="arial" selected="selected">Arial</option>
                        <option value="verdana">Verdana</option>
                        <option value="comicsans">Comic Sans</option>
                        <option value="times">Times New Roman</option>
                    </select>
                </div>
            </li>
            <li id="tool-text-color" class="tool" title="{{ 'tool.text.color'|trans }}">
                <div>
                    {{ 'tool.text.color'|trans }}:
                    <input id="tool-text-color-field" class="color {valueElement:'tool-text-color-value'}" />
                    <input id="tool-text-color-value" style="display:none" ng-change="tools.text.modify('color')" ng-model="tools.text.color"/>
                </div>
            </li>
        </ul>
    </div>
    <div id="tool-options-group" class="tool-box tool-options" ng-show="tools.group.selected">
        <ul>
            <li id="tool-group-text-bold" class="tool" title="{{ 'tool.text.bold'|trans }}" ng-click="tools.text.changeBold()" ng-class="{selected: tools.text.bold}" ng-show="tools.group.text.selected"><div></div></li>
            <li id="tool-group-text-italic" class="tool" title="{{ 'tool.text.italic'|trans }}" ng-click="tools.text.changeItalic()" ng-class="{selected: tools.text.italic}" ng-show="tools.group.text.selected"><div></div></li>
            <li id="tool-group-text-underline" class="tool" title="{{ 'tool.text.underline'|trans }}" ng-click="tools.text.changeUnderline()" ng-class="{selected: tools.text.underline}" ng-show="tools.group.text.selected"><div></div></li>
            <li id="tool-group-text-align-left" class="tool selected" title="{{ 'tool.text.align.left'|trans }}" ng-click="tools.text.changeAlignment('leftAlign')" ng-class="{selected: tools.text.leftAlign}" ng-show="tools.group.text.selected"><div></div></li>
            <li id="tool-group-text-align-center" class="tool" title="{{ 'tool.text.align.center'|trans }}" ng-click="tools.text.changeAlignment('centerAlign')" ng-class="{selected: tools.text.centerAlign}" ng-show="tools.group.text.selected"><div></div></li>
            <li id="tool-group-text-align-right" class="tool" title="{{ 'tool.text.align.right'|trans }}" ng-click="tools.text.changeAlignment('rightAlign')" ng-class="{selected: tools.text.rightAlign}" ng-show="tools.group.text.selected"><div></div></li>
            <li id="tool-group-text-size" class="tool" title="{{ 'tool.text.size'|trans }}" ng-show="tools.group.text.selected">
                <div>
                    {{ 'tool.text.size'|trans }}:
                    <select id="tool-group-text-size-select" ng-change="tools.text.modify('fontSize')" ng-model="tools.text.fontSize" integer>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                        <option value="24">24</option>
                        <option value="32">32</option>
                    </select>
                </div>
            </li>
            <li id="tool-group-text-style" title="{{ 'tool.text.style'|trans }}" ng-show="tools.group.text.selected">
                <div>
                    <select id="tool-group-text-style-select" ng-change="tools.text.modify('fontFamily')" ng-model="tools.text.fontFamily">
                        <option value="arial" selected="selected">Arial</option>
                        <option value="verdana">Verdana</option>
                        <option value="comicsans">Comic Sans</option>
                        <option value="times">Times New Roman</option>
                    </select>
                </div>
            </li>
            <li id="tool-group-text-color" class="tool" ng-show="tools.group.text.selected">
                <div>
                    {{ 'tool.text.color'|trans }}:
                    <input id="tool-group-text-color-field" class="color {valueElement:'tool-text-color-value'}" />
                    <input id="tool-group-text-color-value" style="display:none" ng-model="tools.text.color" ng-change="tools.text.modify('color)"/>
                </div>
            </li>
            <li id="tool-group-line-size" class="tool" ng-show="tools.group.pen.selected">
                <div>
                    {{ 'tool.line.size'|trans }}:
                    <select id="tool-group-line-size-select" ng-model="tools.group.line.size" integer ng-change="tools.group.modify()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="14">14</option>
                    </select>
                </div>
            </li>
            <li id="tool-group-line-style" ng-show="tools.group.line.selected">
                <div>
                    {{ 'tool.line.line-style'|trans }}:
                    <select id="tool-group-line-style-select" ng-model="tools.group.line.style" ng-change="tools.group.modify()">
                        <option value="stroke">{{ 'tool.line.style.line'|trans }}</option>
                        <option value="dashed">{{ 'tool.line.style.dashed'|trans }}</option>
                        <option value="dotted">{{ 'tool.line.style.dotted'|trans }}</option>
                    </select>
                </div>
            </li>
            <li id="tool-group-line-color" class="tool" ng-show="tools.group.pen.selected">
                <div>
                    {{ 'tool.line.color'|trans }}:
                    <input id="tool-group-line-color-field" class="color {valueElement:'tool-group-line-color-value'}"/>
                    <input id="tool-group-line-color-value" style="display:none" ng-model="tools.group.line.color" ng-change="tools.group.modify()"/>
                </div>
            </li>
            <li id="tool-group-forms-fill-color" class="tool" ng-show="tools.group.forms.selected">
                <div>
                    {{ 'tool.forms.fill-color'|trans }}:
                    <input id="tool-group-forms-fill-color-field" class="color {valueElement:'tool-group-forms-fill-color-value'}"/>
                    <input id="tool-group-forms-fill-color-value" style="display:none" ng-model="tools.group.forms.color" ng-change="tools.group.modify()"/>
                </div>
            </li>
        </ul>
    </div>
    <div class="power-box">
        <ul>
            <li id="tool-power" class="tool" title="{{ 'tool.power'|trans }}" dw-power-off-presenter>
                <span class="hide" id="power-off">{{ 'tool.power_off'|trans }}</span>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>