{% trans_default_domain "common" %}

<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span id="modal-close" class="sr-only">{{ 'close'|trans }}</span></button>
    <h4 class="modal-title" id="modalLabel">Video {{ presentation.name|e }}</h4>
</div>
<div class="modal-body">
    <video id="video-presentation" src="/storage/{{ presentation.owner.username|e }}/presentation_{{ presentation.id|e }}/video.mp4" controls width="640" height="400">
        Your browser does not support the <code>video</code> element.
    </video>
</div>