{% for key, file in files %}
    {% if file is iterable %}
        <li rel="folder" data-rel="{{ key }}" title="{{ key|file_title }}">
            <a href="#">{{ key|file_title }}</a>
            <ul>
                {% include 'HTWGDigitalWhiteboardImageRepositoryBundle:Elements:file.html.twig' with {'files': file} %}
            </ul>
        </li>
    {% else %}
       <li rel="file" data-rel="{{ key }}" title="{{ file }}">
           <a href="#">{{ file }}</a>
       </li>
    {% endif %}
{% endfor %}