{% trans_default_domain "image_repository" %}

<div class="informations">

    <div id="upload_success" class="alert alert-success alert-dismissible" style="display:none">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_upload_success'|trans }}
    </div>

    <div id="remove_success" class="alert alert-success alert-dismissible" style="display:none">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_remove_success'|trans }}
    </div>

    <div id="create_success" class="alert alert-success alert-dismissible" style="display:none">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_create_success'|trans }}
    </div>

    <div id="rename_success" class="alert alert-success alert-dismissible" style="display:none">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_rename_success'|trans }}
    </div>

    <div id="move_success" class="alert alert-success alert-dismissible" style="display:none">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_move_success'|trans }}
    </div>

    <div id="characters_not_allowed" style="display:none" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_characters_not_allowed'|trans }}
    </div>

    <div id="file_already_exists" style="display:none" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_file_already_exists'|trans }}
    </div>

    <div id="folder_already_exists" style="display:none" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_folder_already_exists'|trans }}
    </div>

    <div id="error" class="alert alert-danger alert-dismissible" style="display:none">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{ 'file_explorer_error'|trans }}
    </div>

    <div id="progress-bar" class="progress">
        <div class="progress-bar percent" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            0%
        </div>
    </div>
</div>