{% extends 'HTWGDigitalWhiteboardPresentationBundle::base.html.twig' %}

{% trans_default_domain "common" %}

{% block body %}

<div id="whiteboard-container" class="presenter" ng-controller="digitalWhiteboardControllerPresenter">

    {% include 'HTWGDigitalWhiteboardPresentationBundle:Elements:toolbar_presenter.html.twig' %}

    <div id="sidebar" ng-cloak class="ng-cloak">
        <ul class="sidebar">
            <li id="slide-action" class="sidebar-tool" ng-class="{selected: slides.selected}" ng-click="slidesOpen()" title="{{ 'slides'|trans }}"><div></div></li>
            <li id="image-repository-action" class="sidebar-tool" ng-class="{selected: imageRepository}" ng-click="imageRepositoryOpen()" title="{{ 'image_repository'|trans }}"><div></div></li>
        </ul>
        <div class="content" ng-class="{slides: slides.selected, imageRepository: imageRepository}">
            <div id="sidebar-slides" ng-show="slides.selected">
                <div id="slides-container">
                    <ol ui-sortable="sortableOptions" ng-model="slides.content">
                        <li ng-repeat="slide in slides.content"
                            ng-class="{active: $index == slides.slideIndex, notDraggable: slides.content.length <= 1}" dw-show-slide dw-slide-index="{[$index]}" >
                            <div>
                                <span class="slide-number">{[ $index + 1 ]}</span>
                                <span class="slide-content" ng-bind-html="slide.img|to_trusted"></span>
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="fix-sidebar">
                    <form role="form">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="sidebarFixed"> {{ 'fix_sidebar'|trans }}
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div id="sidebar-image-repository" class="file-explorer" ng-show="imageRepository">

                <div class="browser-container">
                    <div class="browser-wrapper">
                        {% include 'HTWGDigitalWhiteboardImageRepositoryBundle:Elements:messages.html.twig' %}

                        <form method="" action="#" onsubmit="return false;">
                            <input type="file" id="image-select" style="display: none" />
                            <input type="file" id="dir_select" style="display:none" multiple directory webkitdirectory mozdirectory />
                            <input type="text" id="remove_file" style="display:none" value=""/>
                        </form>

                        <div id="browser" class="widget">
                            <ul>
                                <li id='root' rel='root' data-rel='image_repository' title='Root'><a href='#'>Root</a>
                                    <ul>
                                        {% include 'HTWGDigitalWhiteboardImageRepositoryBundle:Elements:file.html.twig' %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="fix-sidebar">
                    <form role="form">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="sidebarFixed"> {{ 'fix_sidebar'|trans }}
                            </label>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    {% include 'HTWGDigitalWhiteboardPresentationBundle:Elements:communication_presenter.html.twig' %}

    <div id="whiteboard" dw-canvas ng-cloak class="ng-cloak">
        <canvas id="wb" dw-image-droppable></canvas>
        <div id="webcam-over-whiteboard"></div>
    </div>

    <div class="clear"></div>

</div>

{% endblock %}

{% block additional_scripts %}

    <script type="text/javascript">
        jQuery(document).ready(function(){

            {% set presentationName = 'anonymous' %}
            {% set presentationID = '0' %}
            {% if presentation is not null %}
                {% set presentationName = presentation.name|raw %}
                {% set presentationID = presentation.id|raw %}
            {% endif %}

            window.AppGlobals.whiteboard = new window.Whiteboard();
            window.AppGlobals.presentationName = "{{ presentationName|raw }}";
            window.AppGlobals.presentationID = "{{ presentationID|raw }}";
            window.AppGlobals.isPresentator = true;

            scope = angular.element($("#whiteboard-container")).scope();
            scope.establishConnection()

            window.AppGlobals.imageRepository = new window.ImageRepository();

            window.AppGlobals.imageRepositoryWebSocket = new window.WhiteboardWebSocket(
                    window.AppConfig.webSocketUrl + ":" + window.AppConfig.webSocketImageRepositoryPort
            );

            //Let the user know we're connected
            window.AppGlobals.imageRepositoryWebSocket.bind('open', function() {
                window.AppGlobals.imageRepositoryWebSocket.log( "fileserver:connected." );
            });

            //OH NOES! Disconnection occurred.
            window.AppGlobals.imageRepositoryWebSocket.bind('close', function( data ) {
                window.AppGlobals.imageRepositoryWebSocket.log( "fileserver:disconnected." );
            });

            //Log any messages sent from server
            window.AppGlobals.imageRepositoryWebSocket.bind('message', function( payload ) {
                window.AppGlobals.imageRepository.dispatch( payload );
            });

            window.AppGlobals.imageRepositoryWebSocket.connect();

        });
    </script>

{% endblock %}