{% extends 'HTWGDigitalWhiteboardPresentationBundle::base.html.twig' %}

{% trans_default_domain "common" %}

{% block body %}

<div id="whiteboard-container" class="viewer" ng-controller="digitalWhiteboardControllerViewer">

    {% include 'HTWGDigitalWhiteboardPresentationBundle:Elements:toolbar_viewer.html.twig' %}

    {% include 'HTWGDigitalWhiteboardPresentationBundle:Elements:communication_viewer.html.twig' %}

    <div id="whiteboard" ng-cloak class="ng-cloak">
        <canvas id="wb"></canvas>
    </div>

    <div class="clear"></div>

</div>

{% endblock %}

{% block additional_scripts %}

    <script type="text/javascript">
        jQuery(document).ready(function(){

            {% set presentationName = 'anonymous' %}
            {% set presentationID = '0' %}
            {% if presentation is not null %}
              {% set presentationName = presentation.name|raw %}
              {% set presentationID = presentation.id|raw %}
            {% endif %}

            window.AppGlobals.whiteboard = new window.Whiteboard();
            window.AppGlobals.presentationName = "{{ presentationName|raw }}";
            window.AppGlobals.presentationID = "{{ presentationID|raw }}";
            window.AppGlobals.isPresentator = false;

            scope = angular.element($("#whiteboard-container")).scope();
            scope.establishConnection()

        });
    </script>

{% endblock %}